<div
  style="width: 100vw; display: inline-grid; transition: 0.5s; overflow: hidden"
  [style.grid-template-columns]="isOpen ? '240px auto 15%' : '80px auto 15%'"
>
  <div>
    <app-left-editor (isOpenEmitter)="isOpenF($event)"></app-left-editor>
  </div>
  <div #test>
    <canvas
      id="myCanvas"
      #myCanvas
      style="
        width: 100%;
        margin-top: 10px;
        height: calc(100vh - 80px);
        border-radius: 10px;
      "
    ></canvas>
  </div>
  <div class="rightBar"></div>
</div>
