<section class="jumbotron text-center" style="margin-top: 100px">
  <div class="container" style="text-align: left">
    <h1 class="jumbotron-heading">Editor 3d</h1>
    <p class="lead text-muted">
      This is an intuitive and powerful web 3D editor that allows you to bring
      your ideas to life in the 3D environment right in your browser. It's an
      ideal solution for artists, designers, game developers and anyone who
      wants to create 3D content in an accessible and engaging way.
    </p>
    <p>
      <a href="application" class="btn btn-primary my-2">Go to application</a>
    </p>
  </div>
</section>
